.main .form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .form input[type="text"] {
  height: 40px;
  padding: 0 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  min-width: 80%;
}

.main .form button[type="submit"] {
  border: none;
  height: 40px;
  width: 40px;
  background: #006eff;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}