.main .tasks {
  margin-top: 30px;
}

.main .tasks li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 500ms;
}

.main .tasks li:hover {
  background: #3f7cff;
}

.main .tasks li .edit {
  margin-right: 15px;
  color: #3f7cff;
}

.main .tasks li .delete {
  margin-right: 15px;
  color: rgb(194, 65, 65)
}

.main .tasks li:hover .edit,
.main .tasks li:hover .delete {
  color: rgb(77, 72, 72)
}

.main .tasks li .edit,
.main .tasks li .delete {
  cursor: pointer;
  transition: all 500ms;
}

.main .tasks li span {
  display: flex;
  align-items: center;
}