.main {
  background: #FFFFFF;
  padding: 30px;
  margin: 50px auto;
  max-width: 500px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.main h1 {
  font-size: 23px;
  text-align: center;
}

.main .form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .form input[type="text"] {
  height: 40px;
  padding: 0 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  min-width: 80%;
}

.main .form button[type="submit"] {
  border: none;
  height: 40px;
  width: 40px;
  background: #006eff;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .tasks {
  margin-top: 30px;
}

.main .tasks li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 500ms;
}

.main .tasks li:hover {
  background: #3f7cff;
}

.main .tasks li .edit {
  margin-right: 15px;
  color: #3f7cff;
}

.main .tasks li .delete {
  margin-right: 15px;
  color: rgb(194, 65, 65)
}

.main .tasks li:hover .edit,
.main .tasks li:hover .delete {
  color: rgb(77, 72, 72)
}

.main .tasks li .edit,
.main .tasks li .delete {
  cursor: pointer;
  transition: all 500ms;
}